<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css">

    <style>
        body {
            margin: 0;
            padding: 2rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            gap: 1rem;
        }

        .back-to-home {
            display: inline-flex;
            align-items: center;
            gap: 2rem;
            text-decoration: none;
            padding: 0.4rem 1rem;
            color: black;
            font-size: 1.1rem;
            transition: color 0.2s ease-in-out;
            width: max-content;
        }

        form, #home-link, #heading {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 0 auto;
        }

        form > div {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
        }

        form > div > label {
            margin-bottom: 5px;
        }

        form > div > input {
            padding: 0.3rem;
            border: 1px solid #ccc;
            border-radius: 0.2rem;
        }

        button[type="submit"] {
            background-color: #bbb;
            color: black;
            border: none;
            border-radius: 0.2rem;
            padding: 0.4rem;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
        }

        button[type="submit"]:hover {
            background-color: #aaa;
        }
    </style>
</head>
<body>
    <div id="home-link">
        <a class="back-to-home" href="/"><i class="fas fa-long-arrow-left"></i><span>Home</span></a>
    </div>

    <h1 id="heading">Login</h1>

    <div>
        <% if (typeof error !== 'undefined' && error) { %>
            <div>
                <p><%= error %></p>
            </div>
        <% } %>
    </div>

    <form method="POST">
        <div>
            <label for="handle">Handle</label>
            <input type="text" name="handle" id="handle">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>