<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css">

    <style>
        body {
            margin: 0;
            padding: 2rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            gap: 1rem;
        }

        .back-to-home {
            display: inline-flex;
            align-items: center;
            gap: 2rem;
            text-decoration: none;
            padding: 0.4rem 1rem;
            color: black;
            font-size: 1.1rem;
            transition: color 0.2s ease-in-out;
            width: max-content;
        }

        form, #home-link, #heading {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 0 auto;
        }

        form > div {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
        }

        form > div > label {
            margin-bottom: 5px;
        }

        form > div > input {
            padding: 0.3rem;
            border: 1px solid #ccc;
            border-radius: 0.2rem;

        }

        form > div > button {
            padding: 5px;
        }

        form > div > img {
            margin-top: 5px;
        }

        label[for="profile"] {
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            padding: 0.2rem 0.3rem;
        }

        #profile {
            /* opacity: 0;
            filter: alpha(opacity=0);
            width: 0;
            overflow: hidden; */
            display: none;
        }

        #profile-image {
            border-radius: 0.5rem;
        }

        button[type="submit"] {
            background-color: #bbb;
            color: black;
            border: none;
            border-radius: 0.2rem;
            padding: 0.4rem;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
        }

        button[type="submit"]:hover {
            background-color: #aaa;
        }
    </style>
</head>
<body>
    <div id="home-link">
        <a class="back-to-home" href="/"><i class="fas fa-long-arrow-left"></i><span>Home</span></a>
    </div>

    <h1 id="heading">Update Profile</h1>
    

    <div>
        <% if (typeof error !== 'undefined' && error) { %>
            <div>
                <p><%= error %></p>
            </div>
        <% } %>
    </div>

    <form method="POST" enctype="multipart/form-data" action="/profile">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="What should we call you?" value="<%= user.name %>">
        </div>
        <div>
            <label for="handle">Handle</label>
            <input type="text" name="handle" id="handle" placeholder="Cool nickname" value="<%= user.handle %>">
        </div>
        <div>
            <label for="profile" tabIndex="0">
                <span>Profile</span>
                <i class="fas fa-cloud-upload"></i>
                <input type="file" name="profile" id="profile" accept="image/*" />
            </label>

            <img id="profile-image" src="/images/<%= user.profile %>" alt="Profile" width="100%">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="********" value="">
        </div>
        <div>
            <label for="password">Change Password</label>
            <input type="password" name="new-password" id="newPassword" placeholder="********" value="">
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>

    <script>
        // adding keypress listener to the label for profile

        const profileLabel = document.querySelector('label[for="profile"]');

        profileLabel.addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                document.querySelector('input[type="file"]').click();
            }
        });

        // Showing image preview
        const profile = document.querySelector('input[type="file"]');

        profile.addEventListener('change', (event) => {
            const file = event.target.files[0];

            if (file) {
                const reader = new FileReader();

                reader.addEventListener('load', (event) => {
                    document.querySelector('img').style.display = 'block';
                    document.querySelector('img').src = event.target.result;
                });

                reader.readAsDataURL(file);
            }
        });

    </script>
</body>
</html>